.container
  = render "shared/top_page/header"
  = render "shared/top_page/sel_button"

  
  
 
  = render "category/detail"  
  = render "shared/top_page/asaide"
  = render "shared/top_page/footer"
  
  