.wrapper
  = render "devise/shared/header"
  .signup__panel
    .signup__panel__title
      %h2 新規会員登録
    .signup__panel__field
      = button_to new_user_session_path, class: "btn email-btn" do
        %span.email-icon
          = fa_icon "envelope"
        メールアドレスで登録
      = button_to "", class: "btn facebook-btn" do
        %span.facebook-icon
          = fa_icon "facebook-square"
        Facebookで登録
      = button_to "", class: "btn google-btn" do
        %span.google-icon
          = fa_icon "google"
        Googleで登録
  = render "devise/shared/footer"
