.asaide
  .inner
    %h2.inner__title スマホでかんたんフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード！
    .inner__icon
      = image_tag"https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png" ,class: "mercari"
      = link_to 'https://www.apple.com/jp/ios/app-store/' do
        = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",class: "storeIcon store")
      = link_to 'https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja' do
        = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", class: "storeIcon store")
  = image_tag"https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png", class: "BgPhoneIcon"