.header
  .header-inner
    .header-inner__top
      .header-inner__top.logo
        = link_to root_path, data: {"turbolinks" => false}do
          = image_tag asset_path('mercari_logo_horizontal.png') ,size: "170x50"
      .header-inner__top.search
        = search_form_for(@q, url: search_items_path, class: 'header-inner__top-search form') do |f|
          - if defined? words
            = f.search_field :name_or_description_cont, class: 'header-inner__top-search text', placeholder: "何かお探しですか?", value: words
          - else
            = f.search_field :name_or_description_cont, class: 'header-inner__top-search text', placeholder: "何かお探しですか?"
          = f.submit 'Search', class: 'header-inner__top-search submit'
          = button_tag type:"submit", class: 'header-inner__top-search submit' do
            %i.fa.fa-search.fa-i
    .header-inner__bottom
      %ul.search-menu
        %li.search-menu__list
          .search-menu__list__initial
            .category-js{id: "hover-click"}
              = link_to category_index_path, data: {"turbolinks" => false} do
                %i.fa.fa-list
                カテゴリーを探す
                = render "items/window"
        %li.search-menu__list
          .search-menu__list__initial
            .brand_js
              = link_to root_path, data: {"turbolinks" => false} do
                %i.fa.fa-tag.fa-lg
                ブランドから探す
                = render "items/brand"
      %ul.user-information
        - if user_signed_in?
          %li.user-information__list-login
            = link_to root_path, data: {"turbolinks" => false} do
              %i.fa.fa-heart-o.fa-lg
              %span.list-name いいね！一覧
          %li.user-information__list-login
            = link_to root_path, data: {"turbolinks" => false} do
              %i.fa.fa-bell-o.fa-lg
              %span.list-name お知らせ
          %li.user-information__list-login
            = link_to root_path, data: {"turbolinks" => false} do
              %i.fa.fa-check.fa-lg
              %span.list-name やることリスト
          %li.user-information__list-login
            = link_to "/mypages", data: {"turbolinks" => false}  do
              = image_tag asset_path('avator.jpg'), class: "avater-image", size: "30x30"
              %span.list-name-mypage マイページ  
        - else
          %li.user-information__list-nologin
            = link_to new_user_registration_path, class: "list-name-red" do
              新規会員登録
          %li.user-information__list-nologin
            = link_to new_user_session_path, class: "list-name-blue" do
              ログイン
    
    
