= render "shared/top_page/header"
= render "shared/top_page/sel_button"
.my-container
  = render "shared/credit_cards"
  = render "shared/sidebar/sidebar"
= render "shared/top_page/asaide"
= render "shared/top_page/footer"