.wrapper
  = render "devise/shared/header"
  .signin__panel
    .signin__panel__signup
      %p アカウントをお持ちでない方はこちら
      = button_to "新規会員登録",registration_signups_path, class: "signup-btn"
    = form_with model: @user, url: user_session_path, method: :post,local: true do |form|
      .signin__panel__field
        = button_to new_user_registration_path, class: "btn facebook-btn" do
          %span.facebook-icon
            = fa_icon "facebook-square"
          Facebookでログイン
        = button_to new_user_registration_path, class: "btn google-btn" do
          %span.google-icon
            = fa_icon "google"
          Googleでログイン
        .fieldspace
        .field
          = form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス"        
        .field
          = form.password_field :password, autocomplete: "current-password", placeholder: "パスワード" 
        .field
          = recaptcha_tags

        .actions
          = form.submit "ログイン", class: "btn action-btn"
        = link_to "パスワードをお忘れの方", new_user_registration_path, class: "terms__link"
  = render "devise/shared/footer"