.brand_list
  .brands_list
    = link_to "シャネル", root_path, class: "brand_category",id: "100001"
    = link_to "ナイキ", root_path, class: "brand_category",id: "100002"
    = link_to "ルイ　ヴィトン", root_path, class: "brand_category",id: "100003"
    = link_to "アディダス", root_path, class: "brand_category",id: "100004"
    = link_to "ブランド一覧", root_path, class: "brand_category",id: "100005"
