//商品出品ページ
.container
  = render "devise/shared/header"
  %main.main-content
    %section.main-content__item
      %h2.main-content__item__head
        商品の情報を入力
      = form_with model: [@image,@item], local: true, class: "main-content__item__body" do |f|
        .main-content__item__body__image-upload
          %h3.main-content__item__body__image-upload__head
            出品画像
            %span.main-content__item__body__image-upload__head__require
              必須
          %p
            最大10枚までアップロードできます
          .main-content__item__body__image-upload__clearfix
            .main-content__item__body__image-upload__clearfix__container
              .main-content__item__body__image-upload__clearfix__container__images.have-item-0
                %ul.main-content__item__body__image-upload__clearfix__container__images__ul

            .main-content__item__body__image-upload__clearfix__dropbox.have-item-0
              = f.fields_for :item_images do |i|
                = i.label "file-upload", for: "item_file-upload", class: "main-content__item__body__image-upload__clearfix__dropbox__file-container" do
                  = i.file_field :image, name: "item[item_images_attributes][0][image][]", multiple: true, id: "item_file-upload", class: "main-content__item__body__image-upload__clearfix__dropbox__file-container__upload"
                  %pre.main-content__item__body__image-upload__clearfix__dropbox__file-container__visible
                    ドラッグアンドドロップ
                    またはクリックしてファイルをアップロード
        .main-content__item__body__sell-content
          .main-content__item__body__sell-content__form-group#item-name
            = f.label "商品名"
            %span.main-content__item__body__sell-content__form-group__require
              必須
            = f.text_field :name, placeholder: "商品名（必須 40文字まで)", class: "main-content__item__body__sell-content__form-group__input"
          .main-content__item__body__sell-content__form-group#item-description
            = f.label "商品の説明"
            %span.main-content__item__body__sell-content__form-group__require
              必須
            = f.text_area :description, rows: 5, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "main-content__item__body__sell-content__form-group__textarea"
        .main-content__item__body__sell-content-float
          %h3.main-content__item__body__sell-content-float__head
            商品の詳細
          .main-content__item__body__sell-content-float__form-box
            .main-content__item__body__sell-content-float__form-box__form-group#category-contents
              = f.label "カテゴリー"
              %span.main-content__item__body__sell-content-float__form-box__form-group__require
                必須
              .main-content__item__body__sell-content-float__form-box__form-group__select-wrap
                = fa_icon "chevron-down", class:"arrow-down-icon"
                = f.collection_select :category_id, @parents, :id, :name, {prompt: "---"}, class: "main-content__item__body__sell-content-float__form-box__form-group__select-wrap__select-box"
              - if @item.category_id.present?
                .main-content__item__body__sell-content-float__form-box__form-group__select-wrap
                  = fa_icon "chevron-down", class:"arrow-down-icon"
                  = f.collection_select :second_category_id, @children, :id, :name, {prompt: "---"}, {class: "main-content__item__body__sell-content-float__form-box__form-group__select-wrap__select-box"}
                - if @item.second_category_id.present?
                  .main-content__item__body__sell-content-float__form-box__form-group__select-wrap
                    = fa_icon "chevron-down", class:"arrow-down-icon"
                    = f.collection_select :third_category_id, @grandchildren, :id, :name, {prompt: "---"}, {class: "main-content__item__body__sell-content-float__form-box__form-group__select-wrap__select-box"}
            .main-content__item__body__sell-content-float__form-box__form-group#size-content
              - if @item.size_id.present?
                = f.label "サイズ"
                %span.main-content__item__body__sell-content-float__form-box__form-group__require
                  必須
                  .main-content__item__body__sell-content-float__form-box__form-group__select-wrap
                    = fa_icon "chevron-down", class:"arrow-down-icon"
                    = f.collection_select :size_id, Size.all, :id, :name, {class: "main-content__item__body__sell-content-float__form-box__form-group__select-wrap__select-box"}
            .main-content__item__body__sell-content__form-group#brand-content
              - if @item.size_id.present?
                = f.label "ブランド"
                %span.main-content__item__body__sell-content__form-group__any
                  任意
                  = f.text_field :brand_id, placeholder: "例）シャネル",class: "main-content__item__body__sell-content__form-group__input"
            .main-content__item__body__sell-content-float__form-box__form-group#item-condition
              = f.label "商品の状態"
              %span.main-content__item__body__sell-content-float__form-box__form-group__require
                必須
              .main-content__item__body__sell-content-float__form-box__form-group__select-wrap
                = fa_icon "chevron-down", class:"arrow-down-icon"
                = f.collection_select :condition_id, Condition.all, :id, :name, {}, class: "main-content__item__body__sell-content-float__form-box__form-group__select-wrap__select-box"
        .main-content__item__body__sell-content-float
          %h3.main-content__item__body__sell-content-float__head
            配送について
          = link_to "?", "#", class: "main-content__item__body__sell-content-float__qestion"
          .main-content__item__body__sell-content-float__form-box
            .main-content__item__body__sell-content-float__form-box__form-group#postage-content
              = f.label "配送料の負担"
              %span.main-content__item__body__sell-content-float__form-box__form-group__require
                必須
              .main-content__item__body__sell-content-float__form-box__form-group__select-wrap
                = fa_icon "chevron-down", class:"arrow-down-icon"
                = f.collection_select :postage_id, Postage.all, :id, :name, {}, class: "main-content__item__body__sell-content-float__form-box__form-group__select-wrap__select-box"
            .main-content__item__body__sell-content-float__form-box__form-group#area-content
              = f.label "発送元の地域" 
              %span.main-content__item__body__sell-content-float__form-box__form-group__require
                必須
              .main-content__item__body__sell-content-float__form-box__form-group__select-wrap
                = fa_icon "chevron-down", class:"arrow-down-icon"
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, class: "main-content__item__body__sell-content-float__form-box__form-group__select-wrap__select-box"
            .main-content__item__body__sell-content-float__form-box__form-group#shipping_date-content
              = f.label "発送までの日数" 
              %span.main-content__item__body__sell-content-float__form-box__form-group__require
                必須
              .main-content__item__body__sell-content-float__form-box__form-group__select-wrap
                = fa_icon "chevron-down", class:"arrow-down-icon"
                = f.collection_select :shipping_date_id, ShippingDate.all, :id, :name, {}, class: "main-content__item__body__sell-content-float__form-box__form-group__select-wrap__select-box"
        .main-content__item__body__sell-content-float
          %h3.main-content__item__body__sell-content-float__head
            販売価格(300〜9,999,999)
          = link_to "?", "#", class: "main-content__item__body__sell-content-float__qestion"
          .main-content__item__body__sell-content-float__form-box
            %ul.main-content__item__body__sell-content-float__form-box__price
              %li.main-content__item__body__sell-content-float__form-box__price__form-group#item-price
                .main-content__item__body__sell-content-float__form-box__price__form-group__clearfix
                  .main-content__item__body__sell-content-float__form-box__price__form-group__clearfix__left
                    = f.label "価格"
                    %span.main-content__item__body__sell-content-float__form-box__price__form-group__clearfix__left__require
                      必須
                  .main-content__item__body__sell-content-float__form-box__price__form-group__clearfix__right
                    ¥
                    .main-content__item__body__sell-content-float__form-box__price__form-group__clearfix__right__input-box
                      = f.text_field :price, placeholder: "例）300", class: "main-content__item__body__sell-content-float__form-box__price__form-group__clearfix__right__input-box__input",id:'price_calc'
              %li.main-content__item__body__sell-content-float__form-box__price__clearfix
                .main-content__item__body__sell-content-float__form-box__price__clearfix__left
                  販売手数料 (10%)
                .main-content__item__body__sell-content-float__form-box__price__clearfix__right#fee-area -
              %li.main-content__item__body__sell-content-float__form-box__price__clearfix-bold
                .main-content__item__body__sell-content-float__form-box__price__clearfix-bold__left
                  販売利益
                .main-content__item__body__sell-content-float__form-box__price__clearfix-bold__right#profit-area -
        .main-content__item__body__sell-content-btn-box
          %div
            %p
              = link_to "禁止されている出品", "#", target: "_blank"
              、
              = link_to "行為", "#", target: "_blank"
              を必ずご確認ください。
            %p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to "偽ブランドの販売", "#", target: "_blank"
              は犯罪であり処罰される可能性があります。
            %p
              また、出品をもちまして
              = link_to "加盟店規約", "#", target: "_blank"
              に同意したことになります。
          = f.submit "出品する", class: "main-content__item__body__sell-content-btn-box__btn main-content__item__body__sell-content-btn-box__btn--red"
          = link_to "もどる", "#", class: "main-content__item__body__sell-content-btn-box__btn main-content__item__body__sell-content-btn-box__btn--gray"
  = render "devise/shared/footer"