= render "shared/top_page/header"
.fieldspace
.item-box
  .item-title
    %h2= @item.name
  .item-messeage
    
  .item-inline-box
    .item-photos
      .item-photos__main-img
        = image_tag @item.item_images[0].image.url ,size: "300x300" 
      .item-photos__sub-img
        .item-photos__sub-img__sub1
          = image_tag '300.png' ,size: "60x60"
        .item-photos__sub-img__sub2
          = image_tag '600.png' ,size: "60x60"
        .item-photos__sub-img__sub3
          = image_tag '300.png' ,size: "60x60"
        .item-photos__sub-img__sub4
          = image_tag '600.png' ,size: "60x60"
        .item-photos__sub-img__sub5
          = image_tag '300.png' ,size: "60x60" 
    .item-center-space
    .item-detail-table
      %table.item-detail-table__detail-table
        %tbody.item-detail-table__detail-table__tbody
          %tr.item-detail-table__detail-table__tbody__tr
            %th.item-detail-table__detail-table__tbody__th
              出品者
            %td.item-detail-table__detail-table__tbody__td
              = @item.user.nickname
              .item-detail-table__detail-table__tbody__td__rating
                .item-detail-table__detail-table__tbody__td__icon
                  = fa_icon "google", class: "good-icon"
                  %span.item-detail-table__detail-table__tbody__td__icon__num
                    = @item.user.user_evaluation.good
                .item-detail-table__detail-table__tbody__td__icon
                  = fa_icon  "google", class: "normal-icon"
                  %span.item-detail-table__detail-table__tbody__td__icon__num
                    = @item.user.user_evaluation.normal
                .item-detail-table__detail-table__tbody__td__icon
                  = fa_icon  "google", class: "bad-icon"
                  %span.item-detail-table__detail-table__tbody__td__icon__num
                    = @item.user.user_evaluation.bad
          %tr.item-detail-table__detail-table__tbody__tr
            %th.item-detail-table__detail-table__tbody__th
              カテゴリー
            %td.item-detail-table__detail-table__tbody__td
              %span.item-category
                = @item.category.name
          %tr.item-detail-table__detail-table__tbody__tr
            %th.item-detail-table__detail-table__tbody__th
              ブランド
            %td.item-detail-table__detail-table__tbody__td
              = link_to @item.brand.name, root_path, method: :get, class: "brand-name link"
          %tr.item-detail-table__detail-table__tbody__tr
            %th.item-detail-table__detail-table__tbody__th
              商品のサイズ
            %td.item-detail-table__detail-table__tbody__td
              %span.item-size
                = @item.size.name
          %tr.item-detail-table__detail-table__tbody__tr
            %th.item-detail-table__detail-table__tbody__th
              商品の状態
            %td.item-detail-table__detail-table__tbody__td
              %span.item-condition
                =@item.condition.name
          %tr.item-detail-table__detail-table__tbody__tr
            %th.item-detail-table__detail-table__tbody__th
              配送料の負担
            %td.item-detail-table__detail-table__tbody__td
              %span.shipping-charge
                = @item.postage.name
          %tr.item-detail-table__detail-table__tbody__tr
            %th.item-detail-table__detail-table__tbody__th
              配送の方法
            %td.item-detail-table__detail-table__tbody__td
              %span.shipping-method
                らくらくメルカリ便
          %tr.item-detail-table__detail-table__tbody__tr
            %th.item-detail-table__detail-table__tbody__th
              配送元地域
            %td.item-detail-table__detail-table__tbody__td
              = link_to "配送地域", root_path, method: :get, class: "prefecture link"
              =@item.prefecture.name
          %tr.item-detail-table__detail-table__tbody__tr
            %th.item-detail-table__detail-table__tbody__th
              発送日の目安
            %td.item-detail-table__detail-table__tbody__td
              %span.shipping-date
                =@item.shipping_date.name
  .item-price-box
    .item-price-box__box
      %span.item-price-box__box--price
        ¥
        =@item.price
      %span.item-price-box__box--tax
        （税込）
      %span.item-price-box__box--shipping-charge
        送料込み
  = link_to "購入画面に進む", "/items/check/#{@item.id}", class: "buy-btn btn-red"
  / 説明文
  .item-explain__description
    %p.item-explain__description-inner
      = @item.description
    / いいねボタン、不適切ボタン
    .item-explain__item-btn
      .item-explain__item-btn__left
        .item-explain__item-btn__left__like-btn
          = render partial: 'items/items'
        .item-explain__item-btn__left__report
          = link_to root_path, method: :get, class: "link" do
            = fa_icon "flag", class: "item-explain__item-btn__left__report__icon"
            %span.item-explain__item-btn__left__report__text
              不適切な商品の報告
      .item-explain__item-btn__right
        = link_to root_path, method: :get, class: "item-explain__item-btn__right__icon link" do
          = fa_icon "flock"
          %span.item-explain__item-btn__right__text
            あんしん・あんぜんへの取り組み
      / 商品へのコメント
  .item-space-box1
  .item-space-box2
  .item-comment-box
    .item-space-box1
    .item-comment-box__form__text
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .item-space-box1
    .item-comment-box__form__textarea
      %input{type: "textarea", class: "input-box-form"}
    .item-space-box1
  = button_to "コメントする", root_path, class: "comment-btn btn-gray"
  .item-space-box1
  .item-space-box1
  / 前後ページリンク

  %ul.item-page-link
    %li.item-page-link__prev
      = link_to root_path, class: "link" do
        = fa_icon "angle-left"
        %span
          前　似たような商品
    %li.item-page-link__next
      = link_to root_path, class: "link" do
        %span
          後ろ　似たような商品
        = fa_icon "angle-right"      
  .item-sns
    %ul.item-sns__list
      %li.item-sns__list__icon
        = link_to root_path class: "link social-link" do
          = fa_icon "facebook-square", class: "item-sns__list__icon--facebook"
      %li.item-sns__list__icon
        = link_to root_path, class: "link social-link" do
          = fa_icon "twitter-square", class: "item-sns__list__icon--twitter"
      %li.item-sns__list__icon
        = link_to root_path, class: "link social-link" do
          = fa_icon "pinterest-square", class: "item-sns__list__icon--pinterest"

  .item-space-box2
  .item-space-box2
  .item-space-box2
  .item-space-box2
  .item-other
    %section.item-other__user-items
      %h2.item-other__user-items__head
        = link_to @item.user.nickname+"さん　その他の商品", root_path, class: "link item-link"
      .item-other__user-items__content
        - @other_items.each do |other_item|
          %section.item-other__user-items__content__box
            = link_to  item_path(other_item.id), class: "linkblack item-link" do
              .item-other__user-items__content__box__photo
                = image_tag other_item.item_images[0].image.url , class: "item-image"
                %h3.item-other__user-items__content__box__itemname__name
                  = other_item.name
                .item-other__user-items__content__box__itemname__num
                  .item-other__user-items__content__box__itemname__num__price
                    ¥
                    = other_item.price
                  .item-other__user-items__content__box__itemname__num__likes
                    = fa_icon "heart", class: "like-icon"
                    %span.item-other__user-items__content__box__itemname__num__likes__num
                      10
  .item-space-box2
  .item-space-box2
  .item-space-box2
  .item-space-box2
  .item-other
    %section.item-other__user-items
      %h2.item-other__user-items__head
        = link_to "#{@item.brand.name}(同じカテゴリ) その他の商品", root_path, class: "link item-link"
      .item-other__user-items__content
        - @same_items.each do |same_item|
          %section.item-other__user-items__content__box
            = link_to  item_path(same_item.id), class: "linkblack item-link" do
              .item-other__user-items__content__box__photo
                = image_tag same_item.item_images[0].image.url , class: "item-image"            
                %h3.item-other__user-items__content__box__itemname__name
                  = same_item.name
                .item-other__user-items__content__box__itemname__num
                  .item-other__user-items__content__box__itemname__num__price
                    ¥
                    = same_item.price
                  .item-other__user-items__content__box__itemname__num__likes
                    = fa_icon "heart", class: "like-icon"
                    %span.item-other__user-items__content__box__itemname__num__likes__num
                      10

%ul.item-bottom
  %li.item-bottom-text1
    = link_to root_path, class: "link" do
      %span
        メルカリ　
  %li.item-bottom-text2
    %span
      商品名
      = fa_icon "angle-right"                 
.fieldspace
= render "shared/top_page/asaide"
= render "shared/top_page/footer"