//= render "shared/top_page/header"
.fieldspace
.item-box
  .item-title
    %h2 商品名
  .item-messeage
    %h2 商品名
  .item-inline-box
    .item-photos
      .item-photos__main-img
        = image_tag '600.png' ,size: "300x300"
      .item-photos__sub-img
        .item-photos__sub-img__sub1
          = image_tag '300.png' ,size: "60x60"
        .item-photos__sub-img__sub2
          = image_tag '600.png' ,size: "60x60"
        .item-photos__sub-img__sub3
          = image_tag '300.png' ,size: "60x60"
        .item-photos__sub-img__sub4
          = image_tag '600.png' ,size: "60x60"
        .item-photos__sub-img__sub5
          = image_tag '300.png' ,size: "60x60" 
    .item-center-space
    .item-detail-table
      %table.item-detail-table__detail-table
        %tbody.item-detail-table__detail-table__tbody
          %tr.item-detail-table__detail-table__tbody__tr
            %th.item-detail-table__detail-table__tbody__th
              出品者
            %td.item-detail-table__detail-table__tbody__td
              出品者のID名
              .item-detail-table__detail-table__tbody__td__rating
                .item-detail-table__detail-table__tbody__td__icon
                  = fa_icon "google", class: "good-icon"
                  %span.item-detail-table__detail-table__tbody__td__icon__num
                    100
                .item-detail-table__detail-table__tbody__td__icon
                  = fa_icon  "google", class: "normal-icon"
                  %span.item-detail-table__detail-table__tbody__td__icon__num
                    50
                .item-detail-table__detail-table__tbody__td__icon
                  = fa_icon  "google", class: "bad-icon"
                  %span.item-detail-table__detail-table__tbody__td__icon__num
                    10
          %tr.item-detail-table__detail-table__tbody__tr
            %th.item-detail-table__detail-table__tbody__th
              カテゴリー
            %td.item-detail__detail-table__tbody__td
              b







        
.fieldspace
//= render "shared/top_page/asaide"
//= render "shared/top_page/footer"