//= render "shared/top_page/header"
.fieldspace
.item-box
  .item-title
    %h2 商品名
  .item-messeage
    %h2 商品名
  .item-inline-box
    .item-photos
      .item-photos__main-img
        = image_tag '600.png' ,size: "300x300"
      .item-photos__sub-img
        .item-photos__sub-img__sub1
          = image_tag '300.png' ,size: "60x60"
        .item-photos__sub-img__sub2
          = image_tag '600.png' ,size: "60x60"
        .item-photos__sub-img__sub3
          = image_tag '300.png' ,size: "60x60"
        .item-photos__sub-img__sub4
          = image_tag '600.png' ,size: "60x60"
        .item-photos__sub-img__sub5
          = image_tag '300.png' ,size: "60x60" 
    .item-center-space
    .item-detail-table
      %table.item-details-table__detail-table
      %tbody.item-details-table__detail-table__tbody
        %tr.item-details-table__detail-table__tbody__tr
          %th.item-details-table__detail-table__tbody__th
            出品者







        
.fieldspace
//= render "shared/top_page/asaide"
//= render "shared/top_page/footer"